.head {
  background-color: #fff !important;
  border-bottom: 1px solid rgb(236, 236, 236);
  z-index: 99;

  padding: 0 20px !important;
  height: 47px !important;

  .vertiCenter();

  .trigger {
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }
}